body {
    padding: 0;
	border: #100;
	margin: 100px;
	width: 960px;
	font-family: Arial, Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'Times, serif;
    font-size: 18px;
    line-height: 20px;
	color: #333;
	background: #777;
	position: relative;
  }

  
section {
	padding: 50px;
	width: 50px;
	height: 100px;
	margin: 40px;
	color: black;
	background: #ebebeb;
	border-style: solid;
	border-width: thick;
	border-color: black;
	position: relative;
}


.container {
	padding: 50px;
	border: 50px;
	margin: 50px;
	width: 960px;
	height: 100px;
    font-size: 28px;
    color: #777;
    text-align: center;
	background: #ebebeb;
	display: grid;
}

#container {
	margin: 50px;
	border: 10px;
	padding: 10px;
	width: 600px;
	height: 350px;
    font-size: 28px;
    color: #777;
    text-align: center;
	background: #ebebeb;
	display: grid;
	float: left;
}


#article {
	margin: auto;
	border: auto;
	padding: 20px;
	width: 550px;
	height: 200px;
	background: #777;
	color: #ebebeb;
	text-align: center;
	display: grid;
}

#first {
	margin: 5px;
	border: 5px;
	padding: 5px;
	width: 450px;
	height: 50px;
	background: #ebebeb;
	color: #777;
	text-align: center;
}

#second {
	margin: 5px;
	border: 5px;
	padding: 5px;
	width: 450px;
	height: 50px;
	color: #777;
	background: #ebebeb;
	text-align: center;
	display: block;
	float: left;
}

.aside {
	margin: 50px;
	border: 10px;
	padding: 10px;
	width: 400px;
	height: 350px;
    font-size: 28px;
    color: #777;
    text-align: center;
	background: #ebebeb;
	float: left;
}

@media screen and (max-width:768px){
	
}